@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
    <div class="grid">
        @foreach (var obj in Manager.Scenes)
        {
            var scene = obj.Components.Get<NEATScene>();
            <NEATScenePanel class="item" @Scene=@scene/>
        }
    </div>

    <div class="gamestats">
        <div class="inner">
            <div>Generation:<span>@Generation</span></div>
            <div>Best Fitness:<span>@((int)BestFitness)</span></div>
            <div>Mean Fitness:<span>@((int)MeanFitness)</span></div>
        </div>

    </div>
</root>

@code
{
    [Property] NEATManager Manager { get; set; }

    public int Generation => Manager?.Generation ?? 0;

    public double BestFitness => Manager?.BestFitness ?? 0;
    public double MeanFitness => Manager?.MeanFitness ?? 0;

    // public int BestScore
    protected override int BuildHash()
    {
        if (Manager == null)
            return 0;

        return HashCode.Combine( Manager.Scenes.Count, Generation );
    }
}
